/* styles.css */
body {
    font-family: Verdana, sans-serif;
    margin: 0;
}
.container {
    text-align: center;
}
.input-box {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 340px;
    text-align: left;
    float: left;
    margin-right: 20px;
}
.button-container {
    text-align: center;
}
button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
